*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#FFEC5C;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo{
    background:#146152;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 5px;
}
.todoform{
    width: 100%;
    margin-bottom: 1rem;
}
.input{
    outline: none;
  background: none;
  border: 1px solid #FFEC5C;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color:#FF5A33;
}
.btn{
    background:#FFEC5C;
    color: #FF5A33;
    border: none;
    padding: 0.55rem;
    cursor: pointer; 
}
.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#FFEC5C;
    color:#FF5A33;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.edit{
    cursor: pointer;
    margin-right: 0.5rem;
    font-size: 1rem;
    color: #FF5A33;
}
.delete{
    cursor: pointer;
    font-size: 0.8rem;
    color: #FF5A33;
}
h1{
    color:#B4CF66;
    text-align: center;
}